#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

/* Remove dotted focus ring and grey visited color for the Hyperlink */
.hyperlink:focused {
    -fx-effect: none;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-outline: none;
}
.hyperlink:visited {
    -fx-text-fill: #2980b9; /* Use the same color as unvisited */
    -fx-background-color: transparent;
}
.hyperlink {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #2980b9;
    -fx-underline: true;
    -fx-background-color: transparent;
}
